*{
    box-sizing: border-box;
    font-family:'Monterrat, sans-serif'
}

.Alinear_flex{
   display: flex;
   justify-content:center;
    
}

.menu_titulo{
      
   text-align: center;
   font: normal normal 900 89px/79px Montserrat;
   letter-spacing: 0px;
   color: #FFB300;
   opacity: 1;
}


.centrartexto{

    text-align:right;
    font: normal normal 20 21px/34px Montserrat;
    letter-spacing: 0px;
    color:black;
    opacity: 1;
}


.paragrafo{
    text-align: left;
    font: normal normal 600 21px/34px Montserrat;
    letter-spacing: 0px;
    color: blue;
    opacity: 1;

}

.ingredientes{
    text-align: left;
font: normal normal 900 34px/42px Montserrat;
letter-spacing: 0px;
opacity: 1;
}

.massa{
    text-align: left;
font: normal normal 600 20px/30px Montserrat;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.melaça{
    text-align: left;
    font: normal normal 600 20px/30px Montserrat;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1; 
}
.preparaçao{
    text-align: left;
font: normal normal 600 20px/30px Montserrat;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}